
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date">
    <input matEndDate placeholder="End date">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<p>Selected range: {{range.value | json}}</p>


<select name="" id="" style="position:relative; left: 100px"  (change)="getPlanData($event.target.value)">
  <option  *ngFor="let item of data | keyvalue"  >   {{item.key}}   </option>
</select>

<br>


