table.cal {
	background-color:#FFE0C2;
}
td.green {
	background-color:#75ad75;
	font-size:smaller;
	cursor:pointer;	
}
td.unApproved {
	background-color:white;
	font-size:smaller;
}
td.red {
	background-color:rgb(224, 110, 110);
	font-size:smaller;
}
td.weekend {
	background-color: rgb(233, 114, 114);
}
td.todayCell {
	background-color:yellow;
	font-size:smaller;
}
td.td1 {
	padding:0;
}

td.hd3 {
	font-size:larger;
	font-weight:bold;
}
#enterVac {
	width:80%;
}
#spacer {
	height:150px;
}