<p>plans works!</p>
<table id="myTable" border="1" class="cal" *ngIf = "vacData" 
  style="border-collapse: collapse; 
background-color:yellow" 
cellpadding="2">
<tr>
  <td *ngFor = "let d of calDates">
    {{ d.getDate()}}
  </td>
</tr>
<tr *ngFor = "let item of vacData | keyvalue">
  <td *ngFor='let loop3 of counter(item.value[0].daysTillStartDate) ;let ip= index'> </td>
  <td [attr.colspan] = 'item.value[0].vacLength'>{{ item.key}}</td>

  <ng-container *ngIf = 'item.value[1]'> 
   <td *ngFor= 'let loop4 of counter(daysBetween(item.value[0], item.value[1])) ; 
'    > B</td>
   <td [attr.colspan] = 'item.value[1].vacLength'>  {{ item.key}}  </td>
  </ng-container> 
  <ng-container  *ngIf = '!item.value[1]'  > 
    <td *ngFor = "let lp0 of counter( daysTillEnd(item.value[0]))"> </td>
  </ng-container>
  

  <ng-container *ngIf = 'item.value[2]'> 
    <td *ngFor= 'let loop5 of counter(  daysBetween(item.value[1], item.value[2]))' >  A  </td>
    <td [attr.colspan] = 'item.value[2].vacLength'>{{ item.key}}</td>
   </ng-container> 
   <ng-container *ngIf = '!item.value[3] && item.value[2]'>
   <td  *ngFor='let l4 of counter ( daysTillEnd(item.value[2]))'> </td>
   </ng-container>
   
   <ng-container *ngIf = '!item.value[2] && item.value[1]'>
     <td *ngFor='let l3 of counter( daysTillEnd(item.value[1])); '>  </td>
   </ng-container>
   <ng-container *ngIf = 'item.value[3]'> 
    <td *ngFor= 'let loop6 of counter( daysBetween(item.value[2], item.value[3]));'    > 
      {{ daysBetween(item.value[2], item.value[3]) }}      </td>
    <td [attr.colspan] = 'item.value[3].vacLength'>test </td>
   </ng-container> 
</tr>

</table>
