
<table id="myTable" border="1" class="cal" *ngIf = "vacData" 
  style="border-collapse: collapse; 
background-color:rgb(239, 214, 208)" 
cellpadding="2">
<tr>
  <td colspan='30'> September </td>
  <td colspan='30'> October </td>
</tr>
<tr>
  <td *ngFor = "let d of calDates" [className] ="getDateClass(d )"  >
    {{ d.getDate()}}
  </td>
</tr>
<tr *ngFor = "let item of vacData | keyvalue" > {{ zeroDayNum() }}
  <td *ngFor='let loop3 of counter(item.value[0].daysTillStartDate) ;let ip= index' [className] = "incDay(1)" > </td>
  <td [attr.colspan] = 'item.value[0].vacLength' class = "green">{{ item.key}}  </td>

  <ng-container *ngIf = 'item.value[1]'> 
   <td *ngFor= 'let loop4 of counter(daysBetween(item.value[0], item.value[1])) ;let ip2= index' [className] = "incDay1(1,item.value[0].vacLength) " >  </td>
   <td [attr.colspan] = 'item.value[1].vacLength'  class = "green">  {{ item.key}}  </td>
  </ng-container> 

  <ng-container  *ngIf = '!item.value[1]'  > 
    <td *ngFor = "let lp0 of counter( daysTillEnd(item.value[0]))" [className] =  "incDay1(1,item.value[0].vacLength)">   </td>
  </ng-container>
  

  <ng-container *ngIf = 'item.value[2]'> 
    <td *ngFor= 'let loop5 of counter(  daysBetween(item.value[1], item.value[2]))' [className] = "incDay1(1,item.value[1].vacLength + item.value[0].vacLength)   "     >  </td>
    <td [attr.colspan] = 'item.value[2].vacLength' class = "green" >{{ item.key}}</td>
   </ng-container> 
   <ng-container *ngIf = '!item.value[3] && item.value[2]'>
   <td  *ngFor='let l4 of counter ( daysTillEnd(item.value[2]))'> {{   incDay1(1,  item.value[2].vacLength +  item.value[1].vacLength +   item.value[0].vacLength) }}  </td>
   </ng-container>
   <ng-container *ngIf = '!item.value[2] && item.value[1]'>
     <td *ngFor='let l3 of counter( daysTillEnd(item.value[1])); ' [className] = "incDay1(1,item.value[0].vacLength + item.value[1].vacLength)" >  </td>
   </ng-container>

   <ng-container *ngIf = 'item.value[3]'> 
    <td *ngFor= 'let loop6 of counter( daysBetween(item.value[2], item.value[3]));'    >  {{   incDay1(1, item.value[2].vacLength +  item.value[1].vacLength +   item.value[0].vacLength) }}      </td>
    <td [attr.colspan] = 'item.value[3].vacLength'>{{ item.key}}</td>
   </ng-container> 
   <ng-container *ngIf = '!item.value[4] && item.value[3]'>
    <td *ngFor='let l3 of counter( daysTillEnd(item.value[3])); '> {{ incDay1(1,item.value[0].vacLength + item.value[1].vacLength + item.value[2].vacLength  + item.value[3].vacLength  ) }}  </td>
  </ng-container>
</tr>

</table>
