<p>edit-ta works!</p>
<table class='centerSmall' *ngIf = showEdit>
    <caption> Edit Time Away </caption>
  <td>
  <mat-form-field appearance="fill">
    <input matInput [(ngModel)]="startDate" [matDatepicker]="picker" placeholder="{{ startDate}}">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  </td>
  <td>
    <mat-form-field appearance="fill">
      <mat-label>Choose a Reason</mat-label>
      <mat-select >
        <mat-option value="option1">Personal Vacation</mat-option>
        <mat-option value="option2" >Meeting </mat-option>
        <mat-option value="option3">Other </mat-option>
      </mat-select>
    </mat-form-field>
  </td>
  <td>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Note</mat-label>
        <input matInput placeholder="Ex. Pizza" >
      </mat-form-field>
  </td>
  <td>
    <button mat-raised-button>Submit Time Away</button>
  </td>
  </table>